:root{
    --titles: #900C3F;
    --subtitles:#C70039;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
}

.titlemain{
    font-size: 3.8rem;
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--titles);
}


.titlemain span{
    font-family: 'Rubik Iso', cursive;
    font-size: 2rem;
    color: var(--subtitles);
}
.contenedor{
    width: 120rem;
    margin: 0 auto;
 }

 .nav-bg{
    background-color: var(--blue);
 }

 .nav-main{
    display: flex;
    justify-content: space-between;
 }

 .nav-main a {
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;    
 }
 .nav-main a:hover{
    background-color: var(--teal);
 }
.foot {
    display: flex;
    justify-content: space-between;
}
.contenedorfoot {
    width: 20rem;
    margin: 0 auto;
}
