:root{
    --titles: #900C3F;
    --subtitles:#C70039;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --fontheaders:'Noto Sans JP', sans-serif;
    --bodyfont: 'PT Sans', sans-serif;
    --hentaiganafont:'Yuji Hentaigana Akari', cursive;

}

/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box; /*Hack Box model*/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /*1rem  = 10px*/
    background-image: linear-gradient(to up,#20c997 0% ,var(--cyan) 100%);/*gradient down to up*/
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h4{
    font-size: 1.5rem;
}

h1,h2,h3{
    text-align: center;
    font-family: var(--fontheaders);
    color: var(--titles);
}

h4{
    text-align: center;
    font-family: var(--fontheaders);
    color: var(--dark);
}

.titlemain span{
    font-family: var(--fontheaders);
    font-size: 2rem;
    color: var(--orange);
}

.center-text{
    text-align: center;
}
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    width: min(90%,120rem);
}
.contenedor a{
    text-decoration: none;
    font-weight: 700;
    color:var(--cyan);
}

h2 .kaomoji{
    font-size: 1.5rem;
}
.boton{
    background-color: var(--teal);
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 4rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    font-family: var(--fontheaders);
    border: none;
}

@media (min-width: 480px) {
    .boton{
        width: auto;
    }
}
.boton:hover{
    cursor: pointer;
}
@media (min-width: 768px) {
    .boton{
        width: auto;
    }
}
/*Sizes*/
.w-sm-100{
    width: 100%;
}
@media (min-width: 780px) {
    .w-sm-100{
        width: auto;
    }
}
.w-sm-25{
    width: 5%;
}
@media (min-width: 780px) {
    .w-sm-25{
        width: auto;
    }
}
.flex{
    display: flex;
}

.al-right {
    justify-content: flex-start;
}

.shadow {
    -webkit-box-shadow: -18px 12px 49px 7px rgba(0,123,255,0.45);
    -moz-box-shadow: -18px 12px 49px 7px rgba(0,123,255,0.45);
    box-shadow: -18px 12px 49px 7px rgba(0,123,255,0.45);
    background-color: var(--white);
    border-radius: 1rem;
    padding-bottom: 2rem;
}

 .nav-bg{
    background-color: var(--blue);
 }

 .nav-main{
    display: flex;
    flex-direction: column;
 }
/*Media Querie
Size of screen Tablet*/
@media (min-width: 768px) {
    .nav-main{
        flex-direction: row;
        justify-content: space-between;
    }
}
 .nav-main a {
    display: block;
    text-align: center;
    color: var(--white);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
 }
 .nav-main a:hover{
    background-color: var(--teal);
 }
.foot {
    display: flex;
    justify-content: space-between;
}
.contenedorfoot {
    width: 20rem;
    margin: 0 auto;
}

.hero {
    background-repeat: no-repeat; /*Doesnt repeat same picture*/
    background-size: cover;
    height: 400px;
    position: relative;
    background-position: center center;
    margin-bottom: 2rem;
}

/*No reapeat same image*/
.aboutmeImg{
    background-image: url(../img/animegirl3.jpg);
}
.homeImg{
    background-image: url(../img/animepeople.jpg);
}
.contactmeImg{
    background-image: url(../img/animegirl.jpg);
}
.blogImg{
    background-image: url(../img/animegirl2.jpg);
}


.containt-hero {
    position:absolute;
    background-color: rgba(0,0,0,0.7);/*Trnasparencia rgba*/
    /*background-color: rbg(0 0 0 / 70%);*/
    width: 100%;
    height: 100%;
    /*align vertical and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containt-hero h2,
.containt-hero p{
    color:var(--light);
    font-weight: bold;
}
.localization{
    display: flex;
    align-items: flex-end;
}
/*Scroll snap
.services,
.nav-main,
.formular,
.foot{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.contenedorText,
.footer,
.titlemain,
.service,
.formular,
.headerImg
{
    scroll-snap-align: start;
    scroll-snap-stop: always;
}*/
/**services**/
@media (min-width: 760px) {
    .services{
        display: grid;
        /*split 1/n
        grid-template-columns: 1fr 1fr 1fr; */
        grid-template-columns: repeat(4,1fr);
        
        /*short version
        grid:200px 800px / 300px 300px;*/
    }
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.service p{
    line-height: 1.3;
    text-align: center;
    font-family: var(--bodyfont);
}
.service h2{
    color:var(--blue);
    font-weight: normal;
}


.service .icons{
    height: 15rem;
    width: 15rem;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
/*Contact*/
.forms{
    background-color: rgba(255, 165, 0, 0.637);
    width: min(60rem,100%);/*use little value*/
    margin: 0 auto;
    padding: 4rem;
    border-radius: 2rem;
    
}
.forms  fieldset{
    border: none;
}

.forms legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--titles);
}
@media (min-width: 768px) {
    .containt-fields{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    /*avoid other class*/
    .field:nth-child(3),
    .field:nth-child(4){
        grid-column: 1/3;
    }
}




.field{
    margin-bottom: 1rem;
}

.field textarea{
    height: 9rem;
}

.field label{
    color: var(--gray-dark);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
.footer{
    text-align: center;
}

/**About ME*/
@media (min-width: 760px) {
    .services-aboutme{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem;
    }
}

.contenedorText{
    padding: 1rem;
    max-width: 120rem;
    margin-bottom: 12rem;
}


.contenedorText .aboutme__imgL{
    width: 250px;
    margin: 30px 30px 30px 0;
    float: left;
    transition: opacity 0.5s ease;
}


.contenedorText .aboutme__imgR{
    width: 250px;
    margin: 30px 30px 30px 0;
    float: right;
}
.contenedorText p{
    display: inline;
    line-height: 2.5;
    font-family:var(--bodyfont); ;
    text-align: center;
    color: var(--dark);
    transition: opacity 0.5s ease; /* Transición de opacidad */
}
/*Botton for up to header*/
#myBtn{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden; 
    outline: none;
}
/*Scroll Imagenes Framework*/
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
}

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

/*Span japanese styles*/
.titlemain .japanstyle{
    font-family: var(--hentaiganafont);
    color: var(--cyan);
}
/*animations on aboutme*/
.scroll-image {
    max-width: 100%;
    height: auto;
    opacity: 0; /* Inicialmente invisible */
  }
.image-visible {
    opacity: 1; /* Hacer visible cuando se activa la clase */
}
/*text*/
.scroll-text {
    opacity: 0; /* Inicialmente invisible */
  }
  
.text-visible {
    opacity: 1; /* Hacer visible cuando se activa la clase */
}
/*BLOG SECTION*/
/*Search*/
.search{
    background-color: rgba(42, 230, 255, 0.719);
    width: min(60rem,100%);/*use little value*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
}
.search  fieldset{
    border: none;
}

.search legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--titles);
}
@media (min-width: 768px) {
    .containt-fields{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto auto 9rem;
        column-gap: 1rem;
    }
    /*avoid other class*/
    .field:nth-child(3),
    .field:nth-child(4){
        grid-column: 1/3;
    }
}

/* Estilos para la lista de artículos */
ul.article-list {
    list-style: none;
    padding: 0;
}

ul.article-list li {
    border: 0.4rem solid var(--teal);
    border-radius: 2rem;
    margin: 10px;
    padding: 10px;
    display: block;
}

/* Oculta los artículos inicialmente */
.articulo {
    display: none;
}
.artdescript p{
    line-height: 1.3;
    text-align: justify;
    font-family: var(--hentaiganafont);
}


/*TAGS*/
.tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    font-size: 14px;
}
.tag.anime {
    background-color: var(--red);
    color: var(--white);
    border-radius: 2rem;
    align-items: left;
    border: 1px solid var(--red);
}
.tag.science {
    background-color: var(--cyan);
    color: white;
    border-radius: 2rem;
    border: 1px solid var(--cyan);
}
.tag.tecnology {
    background-color: var(--green);
    color: white;
    border-radius: 2rem;
    border: 1px solid var(--green);
}
.tag .button{
    background-color: var(--pink);
    color: var(--white);
    display: inline-block;
    padding: 5px 10px;
    margin: 3px;
    text-transform: none;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid var(--pink);
    cursor: pointer;
}
.containerTags{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerTags img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.containerTags a,h4{
    color:var(--dark);
    font-size: 1rem;
}
.radius-filter{
    width: 13rem;
    border-radius: 1rem;
}
.noarticule {
    width: 3rem;
    border-radius: 1rem;
}
